body {
  font-family: 'Risque', cursive;
  background-color: rgb(15, 181, 15)
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1 {
  color: white;
  text-align: center;
  background-color: rgb(2, 50, 2);
  font-size: 48px;
  margin: 0 auto;
}
